version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - database_url=postgresql://user:password@db:5432/volaplace
    depends_on:
      - db
  
  db:
    image: postgres:14
    environment:
      - postgres_db=volaplace
      - postgres_user=user
      - postgres_password=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
volumes:
  postgres_data:
